
language: cpp

os: linux
dist: trusty
compiler: gcc
services: docker

env:
  global:
    - DOCKER_OPTS="--rm -ti -v ${TRAVIS_BUILD_DIR}:/build -w /build"
  matrix:
    # Python 3
    - DOCKER_IMAGE=lballabio/quantlib-swig-devenv:python3
      BUILD_SCRIPT="python3.build"

before_install:
  - docker pull ${DOCKER_IMAGE}

script:
  - docker run ${DOCKER_OPTS} ${DOCKER_IMAGE} ./.travis/${BUILD_SCRIPT}

before_deploy:
- cd ..
- tar -zcf QuantLib-Python-${TRAVIS_TAG}.tar.gz ${REPO}

deploy:
  provider: releases
  api_key: 
    secure: $git_key
  file: "QuantLib-Python-${TRAVIS_TAG}.tar.gz"
  skip_cleanup: true

